    <div id="sidebar">
      <h2>★PV数ランキング</h2>
        <ul>
          <% @ranking.each do |ranking|  %>
          <li>
             <%=link_to  ranking.title, article_path(ranking)%>
                          (<%=  REDIS.zscore('ranking',"#{ranking.id}").floor%>PV)
          </li>
          <% end%>
        </ul>
    </div>
    <div class="clear"></div>
</div>
