    <div id="sidebar">
      <h2>★PV数ランキング</h2>
        <ul>
          <% Article.order("visited DESC").all.each do |article|  %>
          <li>
             <%=link_to  article.title, article_path(article)%>
                          (<%= article.visited%>PV)
          </li>
          <% end%>
        </ul>
    </div>
    <div class="clear"></div>
</div>
