
<div id="title">
    <div>
        <p><%= @article.created_at.strftime("%Y/%m/%d ") %></p>
          <h1><%= @article.title %></h1>
    </div>
</div>
<div id="article_wrap">
  <div id="content">
    <p><%= @article.body %></p>
 </div>
   <%= render 'aside'%>
